palette = "catppuccin_mocha"

# from https://github.com/catppuccin/starship
[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[status]
disabled = false
pipestatus = true
pipestatus_format = '\[$pipestatus\] => [$symbol$common_meaning$signal_name$maybe_int]($style) ' # デフォルトの最後に空白を入れただけ
symbol = "×"

[character]
format = '$symbol \$ '
success_symbol = "[ INS ](fg:black bg:cyan)"
error_symbol = "[ INS ](fg:black bg:cyan)"
vimcmd_symbol = "[ NOR ](fg:black bg:blue)"
vimcmd_replace_one_symbol = "[ REP ](fg:black bg:red)"
vimcmd_replace_symbol = "[ REP ](fg:black bg:red)"
vimcmd_visual_symbol = "[ SEL ](fg:black bg:purple)"

[c]
commands = [["clang", "--version"], ["gcc", "--version"], ["cc", "--version"]]
