[[language]]
name = "python"
auto-format = true
language-servers = [
  # { name = "ty" },
  { name = "pyrefly" },
  { name = "ruff" },
]

[[language]]
name = "typst"
roots = ["main.typ", "book.typ"]
auto-format = true

[[language]]
name = "rust"
auto-format = true

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.tinymist.config]
formatterMode = "typstyle"
lint.enabled = true
exportPdf = "onType"
typstExtraArgs = ["main.typ"]
preview.background.enabled = true
preview.background.args = [ "--data-plane-host=127.0.0.1:0", "--invert-colors=never", "--open" ]
